@using Messanger.Controllers;
@using Messanger.Scripts;
@using Npgsql;
@{
    ViewData["Title"] = "loginData";
    Layout = "_LayoutUserAccount";
     
}

@section CenterScreen 
{
    <div class="RenderSection-center-header">
        <div class="header-avatar">

            <div class="circle-photo-avatar">
                @if (dataStepStatic.avatar != null)
                {
                    <img src="data:image/jpeg;base64,@(System.Text.Encoding.UTF8.GetString(dataStepStatic.avatar))" />
                   
                }
                else
                {
                    <img src="~/img/EmptyAvatar.png" />
                }

            </div>

            <div class="data-about-me">

                <div class="name-data-about-me">
                    <h2>@dataStepStatic.name @dataStepStatic.surname @dataStepStatic.patr</h2>
                </div>

                <div class="email-data-about-me">
                    <h2>@dataStepStatic.email</h2>
                </div>

            </div>
        </div>   

        <div class="btn-change">        
            <div>
                <form class="inputPhoto-avatar" method="post" action="/Authorization/ChangePhoto" enctype="multipart/form-data">                    

                    <label class="input-file">
                        <input type="file" class="form-control" name="image">
                        <span class="input-file-btn">Выберите фото</span>
                        
                    </label>
                    <button type="submit" class="btn">Сохранить</button>

                </form>
            </div>
        </div>    
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (ViewBag.changePhoto == true)
        {
            <script>
                Swal.fire({
                          title: 'Аватар измениться в скором времени',
                  showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                  },
                  hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                  }
                })
            </script>
        }

}

@section leftScreen
{
    <div class="default-title">
        <h2>Выберите пункт изменений</h2>
    </div>
    
}


