
@{
    ViewData["Title"] = "ResetPasswordTwo";
    Layout = "_Layout";
}
@model Messanger.Models.ConfirmEmail
@section panelLogAndResetPassw {

    <body>
        <div class="container">

            <div class="take">
                <div class="logInPanel">
                    <div class="logo">
                        <p class="Text-logo">Namla</p>
                        <div style="width: 11px; height: 5px;"></div>
                        <img src="~/img/Logo-icon.png" />
                    </div>

                    <div class="title-autorisation">
                        <h3>Восстановление аккаунта</h3>

                        <div class="autorisation-inputs">
                            <div class="messageDelele">
                                <p>Введите код отправленный на почтовый адрес</p>
                            </div>

                            <div class="GeneralError">
                                @Html.ValidationSummary(true)
                            </div>
                            @using (Html.BeginForm("ResetPassword", "Authorization", FormMethod.Post))
                            {
                                <div class="inputCode" id="errorMessageCode">
                                    @Html.ValidationMessageFor(x => x.codeConfirmEmail)

                                    <input class="text-box single-line" data-val="true"
                                           data-val-required="Пожалуйста, введите почту" id="codeConfirmEmail"
                                           name="codeConfirmEmail" placeholder="Код" type="text" value="">

                                </div>

                                <div class="btn-confirm">
                                    <input type="submit" value="Отправить">
                                </div>
                            }

                            <div class="reg-panelInFooter-Login">
                                @Html.ActionLink("Вход в аккаунт", "index", "Authorization")
                            </div>

                            <div class="reg-panelInFooter">

                                @Html.ActionLink("Написать в поддержку", "reg", "Reg")
                            </div>


                        </div>
                    </div>

                </div>
            </div>

        </div>

    </body>
}