
@{
    ViewData["Title"] = "lastStep";
    Layout = "_LayoutReg";
}
@model Messanger.Models.RegDataSecondStep
@section registration {

    <body>
        <div class="container">

            <div class="take">
                <div class="logInPanel">
                    <div class="logo">
                        <p class="Text-logo">Namla</p>
                        <div style="width: 11px; height: 5px;"></div>
                        <img src="~/img/Logo-icon.png" />
                    </div>

                    <div class="title-registration">
                        <h3>
                            Нам нужно убедиться что ваша почта действительно
                            принадлежит вам
                        </h3>

                        <div class="GeneralError">
                            @Html.ValidationSummary(true)
                        </div>

                        <div class="center-panelAlign">
                            @using (Html.BeginForm("lastStep", "Reg", FormMethod.Post))
                            {
                                <div class="btn-submit-login" id="endRegPanel">
                                    <input type="submit" value="Завершить регистрацию">
                                </div>
                            }

                            <div>
                                <div class="reg-panelToBeforeStep">
                                    @Html.ActionLink("На один шаг назад?", "reg", "Reg")
                                </div>

                                <div class="reg-panelInFooter">
                                    <p>Всё же у вас есть аккаунт?</p>
                                    @Html.ActionLink("Вход", "Index", "Authorization")
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </body>
}