@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:wght@100;200;500;700&display=swap');
header {
    background: #2470A6;
    min-height: 40px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.container {
    width: 1247px;
    margin: 0 auto;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
.logotype {
    display: flex;
    align-items: center;
    margin: 5px;
}
.logoTitle {
    color: #fff;
}
.imgLogoIcon {
    width: 25px;
    height: 25px;
    margin: 10px;
}
.header-div {
    display: flex;
    justify-content: space-between;
}

.information-abt-self {
    display: flex;
    align-self: center;
    align-items: center;
}


.information-abt-self h3 {
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.place-circle-photo {
    object-fit: cover;
    width: 63px;
    height: 63px;
    background: red;
    border-radius: 40px;
    border: solid 1px #fff;
    margin: 10px;
}
.position-items {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.itemsToolsLeft {
    background: #2470A6;
    height: 220px;
    width: 190px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#message-box-id a {
    transition: 0.3s all ease;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
    #message-box-id a:hover {
        transition: 0.3s all ease;
        font-size: 21px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

#message-box-id {
    display: flex;
    align-items: center;
    margin: 15px;
}

#message-box-id img {
    padding-left: 10px;
    width: 20px;
    height: 20px;
}
.RenderSection-center {
    border: solid 1px #8E8E8E;
    border-radius: 10px;
}
.circle-photo-avatar img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: solid 1px #8E8E8E;
    object-fit: cover;
}
.circle-photo-avatar {
    text-align: -webkit-center;
}

.header-avatar {
    display: flex;
    align-items: center;
    padding: 17px;
}

.data-about-me h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #383838;
    font-size: 18px;
}
.RenderSection-center-header {
    border: solid 1px #8E8E8E;
    width: 500px;
    height: 211px;
    border-radius: 10px;
}
.data-about-me {
    margin-left: 20px;
}
.btn-change {
    display: flex;
    justify-content: center;
    
}
.btn-change a {
    padding-right: 10px;
}
.inputPhoto-avatar {
    margin-left: 5px;
}
.Text-lable-settings {
    display: flex;
    justify-content: center;
}
.Text-lable-settings h1 {
    color: #383838;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.itm-horizontal {
    display: flex;
    justify-content: center;
}

.itm-horizontal a {
    transition: 0.3s all ease;
    text-decoration: none;
    color: #383838;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin: 7px;
    display: block;
}

.itm-horizontal a:hover {
    transition: 0.3s all ease;
    font-size: 13px;
}

.button-changes h3 {
    color: #383838;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
#marginFor-centerPlace {
    margin-top: 20px;
}
#h-w {
    height: 80%;
}
.title-changes {
    text-align: -webkit-center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.input-change-name .inputs-error input {
    width: 128px;
    height: 30px;
    border: solid 1px #DADADA;
    background: #E1E1E1;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #000;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
.input-change-surname .inputs-error input {
    width: 190px;
    height: 30px;
    border: solid 1px #DADADA;
    background: #E1E1E1;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #000;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
.input-change-email .inputs-error input {
    width: 190px;
    height: 30px;
    border: solid 1px #DADADA;
    background: #E1E1E1;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #000;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

#twoBox-inputs {
    margin-top: 20px;
}

.SaveChanges-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background: #5BC4FF;
    color: #343434;
    width: 110px;
    height: 34px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
#input-for-changes {
    margin: 10px;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
#errorMessageCode .field-validation-error {
    margin-left: 43px;
}

.input-validation-error {
    border: 2px solid #FF685E;
}

.validation-summary-errors {
    transition: all 0.5s ease;
    opacity: 0;
}

.field-validation-error {
    transition: all 0.5s ease;
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #FF685E;
    font-size: 10px;
    margin-top: -15px;
    position: fixed;
}

ul {
    text-align-last: center;
    list-style: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ff5448;
    font-size: 12px;
}
.default-title {
    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #343434;
    font-size: 12px;
}


/*Для choose file*/
.input-file {
    position: relative;
    display: inline-block;
}

.input-file-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #2470a6;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}

.input-file-text {
    padding: 0 10px;
    line-height: 40px;
    display: inline-block;
}

.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

    .input-file input[type=file]:focus + .input-file-btn {
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }


.input-file:hover .input-file-btn {
    background-color: #499efe;
    /*#59be6e*/
}

.input-file:active .input-file-btn {
    background-color: #2E703A;
}


.input-file input[type=file]:disabled + .input-file-btn {
    background-color: #eee;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 24px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 3px;
    height: 37px;
    line-height: 37px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
    color: #2470a6;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out;
}

    .btn:focus-visible {
        box-shadow: 0 0 0 3px lightskyblue;
    }

    .btn:hover {
        box-shadow: 0 1px 1px 0 #cfcfcf, 0 2px 5px 0 #cfcfcf;
    }

    .btn:active {
        background-color: #efefef !important;
    }

    .btn:disabled {
        background-color: #eee;
        color: #444;
        pointer-events: none;
    }

.linkToSettings a {
    transition: 0.3s all ease;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.linkToSettings a:hover {
    font-size: 19px;
}

.circle-photo-avatar-add {
    object-fit: cover;
    width: 63px;
    height: 63px;
    background: red;
    border-radius: 40px;
    border: solid 1px #fff;
    margin: 10px;
}
.block-all-off-people {
    transition: all 0.4s ease;
    width: 450px;
    height: 80px;
    display: flex;
    display: table;
    margin: 15px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background: #2A76AB;
}
    .block-all-off-people:hover {
        transition: all 0.4s ease;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: scale(1.03);
    }



.block-btn-profile {
    text-decoration: none;
    align-self: flex-end;
    /*margin-left: auto;*/
    padding: 10px;
}
    .block-btn-profile a {
        transition: 0.5s;
        text-decoration: none;
        color: #fff;
    }
        .block-btn-profile a:hover {
            transition: 0.5s;
            color: #04436e;
        }

.center-block-friends {
    display: flex;
    align-items: center;
}

