@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:wght@100;200;500;700&display=swap');
body {
    font-family: 'Lato', sans-serif; 
    background: rgb(191,228,255);
    background: radial-gradient(circle, rgba(191,228,255,1) 0%, rgba(176,222,255,1) 100%);
}
.container {
    width: 1000px ;
    position: relative;
}
.logo img {
    width: 25px;
    height: 23px;
}
.logo {
    display: flex;
    align-items: baseline;
    place-content: center;
    margin-top: 27px;
}
.Text-logo {
    font-size: 40px;
    margin: 0;
    color: #fff;
    
}
.logInPanel {
    
    width: 442px;
    height: 559px;
    background: rgb(111,195,255);
    background: linear-gradient(126deg, rgba(111,195,255,1) 0%, rgba(110,158,191,1) 100%);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin-top: 100px;
    box-shadow: 5px 5px 5px #a0a0a0;
}
h3 {
    text-align: -webkit-center;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    opacity: 50%;
}
.text-box {
    height: 40px;
    width: 290px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #7D7D7D;
    font-size: 14px;
    text-indent: 22px;
}
.autorisation-inputs {
    text-align: center;
}
.login-password {
    margin-top: 22px;
}

.btn-submit-login input {
    width: 107px;
    height: 31px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #444444;
    background: #fff;

    border: 1px solid #fff;
    -webkit-transition: border-color 0.3s linear;
    transition: border-color 0.3s linear;

    margin-top: 10px;
}

.btn-submit-login input:hover {
    border: solid 1px #444444;
}
.remember-data 
{
    display: flex;
}
.remember-data p {
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    align-self: center;
}
.panel-under-inputs {
    margin-top: 6px;
    display: flex;
    justify-content: space-around;
}
.panel-under-inputs a {
    transition: 0.2s;
    color: #C5DEEF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    align-self: center;
}
    .panel-under-inputs a:hover {
        transition: 0.2s;
        color: #fff;
        
    }
.reg-panelInFooter p {
    margin: 0;
    padding: 0;
    color: #B7D4E8;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.reg-panelInFooter a {
    transition: 0.2s;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}
    .reg-panelInFooter a:hover {
        transition: 0.2s;
        font-size: 13px;
    }
.reg-panelInFooter {
    position: absolute;
    bottom: 20px;
    left: 30%;
}
.GeneralError p {
    margin: 0px;
    padding: 0px;
    text-align-last: center;
}
.center-panelAlign {
    text-align: center;
}
#itemsMargin-regPanel {
    margin: 22px;
}

.errorMessageInput .text-box {
    width: 237px;
}

.reg-panelToBeforeStep a {
    transition: 0.2s;
    color: #C5DEEF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    align-self: center;
}

    .reg-panelToBeforeStep a:hover {
        transition: 0.2s;
        color: #fff;
    }
.blockName-reg input {
    width: 107px;
}
.blockSurName-reg input {
    width: 173px;
}
.centerAlignItems-scdStep {
    display: flex;
    place-content: center;
}
#paddingForItems-blockName {
    margin: 5px;
}
.blockPatronymic-reg input {
    width: 185px;
}
.blockCountry-reg p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 11px;
    color: #FFFFFF;
}
.blockCountry-reg input {
    width: 185px;
}

.blockAge-reg input {
    width: 92px;
    height: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 11px;
}
.borderForGender {
    border: solid 1px #fff;
    width: 236px;
    height: 44px;
    border-radius: 5px;
}

#alignItems-genger {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
#innerBorderItems {
    display:flex;
    justify-content: space-evenly;
}
.blockAge-reg {
    align-self: center;
}

#alignItems-genger p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #E2EFF9;
}
.genderTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #B7D7EF;
}
#endRegPanel input {
    width: 200px; 
}
h3 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.messageDelele {
    text-align: -webkit-center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
}
.messageDelele p {
    width: 360px
}

/*Скрыть пароль или показать*/
.showingPass {
    user-select: none;
    transition: 0.2s;
    color: #C5DEEF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    align-self: center;
}
.showingPass p:hover{
    transition: 0.2s;
    color: #fff;
    
}
.title-registration h2 {
    text-align-last: center;
    color: #C5DEEF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 15px;
}
#codeConfirmEmail {
    width: 160px;
}
.text-info p {
    color: #C5DEEF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    width: 240px;
}
.text-info {
    text-align: -webkit-center;
    margin-top: 30px;
}
.inputCode 
{
    margin-top: 30px;
}

.btn-confirm input {
    width: 110px;
    height: 31px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #444444;
    background: #fff;
    border: 1px solid #fff;
    -webkit-transition: border-color 0.3s linear;
    transition: border-color 0.3s linear;
    margin-top: 10px;
}

    .btn-confirm input:hover {
        border: solid 1px #444444;
    }


/*Валидация на сервере*/
.input-validation-error {
    border: 2px solid #FF685E;
}
.validation-summary-errors {
    transition: all 0.5s ease;
    opacity: 0;
}
.field-validation-error {
    transition: all 0.5s ease;
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #FF685E;
    font-size: 10px;
    margin-top: -15px;
    position: fixed;
}
ul {
    text-align-last: center;
    list-style: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ff5448;
    font-size: 12px;
}