<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <title>Авторизация</title>
    <link href="@Url.Content("~/css/Authorization.css")" type="text/css" rel="stylesheet" />
</head>
<body>
    @RenderSection("panelLogAndResetPassw")

</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/smoothShowing.js"></script>
</html>
